<%- include('./partials/product_head.ejs') %>
    <%- include('./partials/nav.ejs') %>


        <!-- Start Page Head -->
        <section class="page-head background-withcolor">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h1 style="font-size: x-large;"><span style="color: #ECCF94">Products / </span>
                            <%= test %>
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Page Head -->

        <!-- Start Blog Page Section -->
        <section class="single-blog-with-sidebar single-blog-page padding-100">
            <div class="container">
                <div class="row">
                    <!-- Start All Blogs -->
                    <div class="col-md-12 col-lg-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blog-box">
                                    <div class="blog-img">
                                        <img src="<%= test %>" class="img-fluid" alt="">
                                    </div>
                                    <div class="blog-details">
                                        <p>
                                            <%= test %>
                                        </p>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End All Blogs -->
                    <!-- 








                    
                 -->
                    <!-- Start Sidebar -->
                    <div class="col-md-12 col-lg-4">
                        <aside class="sidebar">
                            <div class="gray-panel follow-me">
                                <h3>Follow Us</h3>
                                <ul>
                                    <li class="facebook">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="instagram">
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="gray-panel recent-post">
                                <h3>Other Brands</h3>

                                <div class="post d-flex align-items-top">
                                    <figure>
                                        <a href="#"><img src="<%= test %>" class="img-fluid" alt=""></a>
                                    </figure>
                                    <div>
                                        <h4><a href="<%= test %>">
                                                <%= test %>
                                            </a></h4>
                                        <ul class="news-meta">
                                            <li><span class="lnr lnr-clock"></span>
                                                <%= test %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </aside>
                    </div>
                    <!-- End Sidebar -->
                </div>
            </div>
        </section>


        <%- include('./partials/footer.ejs') %>
            <%- include('./partials/new_end.ejs') %>