<!-- Start Lens Info (1/2) -->
<% if(li1.li1_section_display) { %>
    <section id="about" class="why-us padding-100 background-fullwidth background-fixed"
        style="background-image: url()">
        <div class="container" style="background-color: white; border-radius: 24px">
            <div class="row align-items-center">
                <div class="col-md-6 text-center" data-aos="fade-right">
                    <img src="<%= li1.li1_img %>" class="img-fluid" alt="" />
                </div>
                <div class="col-md-6" data-aos="fade-zoom-in" data-aos-delay="200">
                    <h2 class="section-header-c" style="text-align: center;">
                        <span class="section-header-1">Lens</span>
                        <span class="section-header-2">Info 1</span>
                    </h2>
                    <!-- <h2 style="text-align: center; margin: 0 0 2rem 0;"><span
                        style="color: #d39529; border-bottom: 3px solid; padding: 0.5rem;"><%= li1.li1_header %></span>
                </h2> -->
                    <p>
                        <%= li1.li1_desc %>
                    </p>
                    <div class="space-50">
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-aos="zoom-in" data-aos-delay="400">
                            <div class="why-us-icon">
                                <img src="assets/imgs/horizon/logoIcon.png" width="35px" alt="" />
                                <p>
                                    <%= li1.li1_parag_1 %>
                                </p>
                            </div>
                            <div class="space-25"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-aos="zoom-in" data-aos-delay="600">
                            <div class="why-us-icon">
                                <img src="assets/imgs/horizon/logoIcon.png" width="35px" alt="" />
                                <p>
                                    <%= li1.li1_parag_2 %>
                                </p>
                            </div>
                        </div>
                        <div class="space-25"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-aos="zoom-in" data-aos-delay="800">
                            <div class="why-us-icon">
                                <img src="assets/imgs/horizon/logoIcon.png" width="35px" alt="" />
                                <p>
                                    <%= li1.li1_parag_3 %>
                                </p>
                            </div>
                            <div class="space-25"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12" data-aos="zoom-in" data-aos-delay="1000">
                            <div class="why-us-icon">
                                <img src="assets/imgs/horizon/logoIcon.png" width="35px" alt="" />
                                <p>
                                    <%= li1.li1_parag_4 %>
                                </p>
                            </div>
                            <div class="space-25"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% } %>
        <!-- End Lens Info (1/2) -->
        <!-- ------------------------------------------------------------- -->