<%- include('../partials/page_head.ejs') %>
    <%- include('../partials/nav.ejs') %>


        <!-- Start Page Head -->
        <!-- Start Page Head -->
        <section class="page-head background-withcolor">
            <div class="container">
                <div id='stars'></div>
                <div id='stars1'></div>
                <div id='stars2'></div>
                <div class="row text-center">
                    <div class="col-md-12" style="margin: 3rem auto 0rem auto !important">
                        <!-- <span style="color: white; letter-spacing: 0.5rem;">Horizon </span> -->
                        <h1 style="font-size: 4em; display: inline-block;">
                            <!-- <span style="color: #FFD952">Products / </span> -->
                            Accessories
                        </h1>
                    </div>
                </div>

            </div>
        </section>
        <div style="padding: 2rem 0;"></div>

        <!-- editor content -->

        <section class="single-blog-page">
            <div class="container">
                <div class="blog-box">
                    <div class="blog-details">
                        <!-- content -->
                        <%- include('../partials/editor_blocks.ejs') %>
                    </div>
                    <hr>
                </div>
            </div>
        </section>

        <%- include('../partials/footer.ejs') %>
            <%- include('../partials/page_end.ejs') %>