<%- include('../partials/page_head.ejs') %>
<%- include('../partials/nav.ejs') %>


<style>
  #brand-header-cont {
    display: inline-block !important;
    background: transparent !important;
    color: #241f1f !important;
  }

  #brand-title-cont {
    margin: 5rem 0 0 7rem !important;
    border-bottom: 3px solid;
    max-width: max-content;
    padding: 0 !important;
    text-align: left !important;
    /* border-bottom-left-radius: 2rem; */
    background-color: #f7ebd059;
    padding: 1rem 2rem 0 2rem !important;
    box-shadow: -15px 15px #453d3d;
    border-radius: 1rem
  }

  @media (max-width: 500px) {
    #brand-title-cont {
      margin: 5rem 0 0 0rem !important;
    }
  }

  #brand-span {
    font-size: 2em;
    display: block;
    font-weight: 400;
    letter-spacing: -4px;
    text-transform: capitalize;
    padding-right: 1rem;
  }

  #brand-h1 {
    color: #241f1f !important;
    font-size: 4em !important;
    display: inline-block;
    font-size: x-large;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0rem;
    /* letter-spacing: 15px; */
    /* border-bottom: 2px solid; */
  }
</style>
<!-- Start Page Head -->
<section id="brand-header-cont" class="page-head background-withcolor">
  <div class="container">
    <div class="row text-center">
      <div id="brand-title-cont" class="col-md-12">
        <span id="brand-span">Brands /</span>
        <h1 id="brand-h1">
          <%= brand.name %>
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- End Page Head -->

<div style="padding: 2rem 0;"></div>

<!-- Start Blog Page Section -->
<section class="single-blog-with-sidebar single-blog-page">
  <div class="container">
    <h2 style="color: white !important;">Description</h2>
    <div class="row">
      <!-- Start All Blogs -->
      <div class="col-md-12 col-lg-8">
        <div class="row">
          <div class="col-md-12">
            <div class="blog-box">
              <!-- <div class="blog-img">
                <img src="" class="img-fluid" alt="">
              </div> -->
              <div class="">
                <hr>
                <section class="single-blog-page">
                  <div class="container">
                    <div class="blog-box">
                      <div class="">
                        <!-- content -->
                        <%- include('../partials/editor_blocks.ejs') %>
                      </div>
                      <hr>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End All Blogs -->
      <!-- -->
      <!-- Start Sidebar -->
      <div class="col-md-12 col-lg-4 sidebar-cont">
        <aside class="sidebar">
          <% brand.imgs.forEach(function(img) { %>
          <div class="gray-panel follow-me">
            <figure>
              <img class="img-fluid" src="<%= img %>" alt="">
              <!-- <figcaption style="text-align: center;">PIC 1</figcaption> -->
            </figure>
          </div>
          <% }) %>
        </aside>
      </div>
      <!-- End Sidebar -->
    </div>
    <hr>
  </div>
</section>
<!-- END BLOG SECTION -->
<!-- 










         -->
<!-- Start Brand Designs Section -->
<section class="single-blog-with-sidebar single-blog-page">
  <div class="container">
    <div class="row">
      <!-- Start All Blogs -->
      <div class="col-lg-12 col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="blog-box">
              <div class="map-container">
                <h2 style="color: white !important;">Designs</h2>

                <div class="inner-basic division-map div-toggle" data-target=".division-details" id="divisiondetail">

                  <% brand.before_after.forEach(function(design) { %>
                  <button class="mlod_link map-point-sm" data-show=".<%= design.name %>">
                    <div class="content">
                      <div class="centered-y">

                        <span>
                          <%= design.name %>
                        </span>

                      </div>
                    </div>
                  </button>
                  <% }) %>

                </div><!-- end inner basic -->
              </div>


              <div class="map-container">
                <div class="inner-basic division-details">
                  <div class="initialmsg">
                    <p style="margin: 1rem 0;">Pick One Design</p>
                  </div>
                  <% brand.before_after.forEach(function(design) { %>
                  <div id="<%=design.name%>" class="<%=design.name%> hide">
                    <!-- Start Lenses Design -->
                    <section id="before_after" class="">
                      <div class='container'>
                        <div class='img background-img' style="background-image: url('<%= design.before %>');">
                        </div>
                        <div class='img foreground-img' style="background-image: url('<%= design.after %>');">
                        </div>
                        <input type="range" min="1" max="100" value="50" class="slider" name='slider' id="slider">
                        <div class='slider-button'></div>
                      </div>
                    </section>
                    <!-- End Slide -->
                  </div>
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Brand Designs Section -->
    </div>
  </div>
</section>
<!-- END BLOG SECTION -->


<%- include('../partials/footer.ejs') %>
<%- include('../partials/page_end.ejs') %>